[Unit]
Description=Compile tomenet server and package it into 7z
Wants=network.target
After=network-online.target

[Service]
Restart=on-failure
ExecStart=/home/tokariew/.local/bin/make-tomenet-server
Type=oneshot

[Install]
WantedBy=multi-user.target default.target
